

.landing-container {
    display: grid;
    place-items: center; 
    height: 100vh;
    width: 100vw;
}

.landing-content {
    background-color: darkgreen;
    text-align: center;
}

.logo-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: 'Rufina';
    font-weight: 700;
    font-size: 40px;
}
h3{
    font-family:' Work Sans';
    font-size: 10px;
    letter-spacing: 2.5px;
    font-weight: 400;
}
